.taalprofiel {
  width: 65%;
  margin: 2rem 0 0 6rem;
}

.taalprofiel .multiple-choice {
  width: 100%;
  margin-bottom: 5rem;
}

.taalprofiel .multiple-choice .field {
  width: 100%;
  background-color: var(--whiteS);
  border: 2.5px solid var(--primary-color);
  border-radius: 10px 0 10px 0;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.taalprofiel .multiple-choice .field.options {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taalprofiel .multiple-choice .field.options p {
  width: 25%;
  text-align: center;
}

.field>label {
  height: fit-content;
}

.vlag {
  width: 25%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-color: var(--white);
}