.backBtn {
    width: fit-content;
    padding: 0.5rem;
    margin: 1vh 0 1vh 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.backBtn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: ease-out 0.2s;
}

.back-circle {
    height: 1.3vw;
    width: 1.3vw;
    transform: rotate(90deg);
    background-color: var(--primary-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.back-circle>img {
    height: 50%;
    width: 50%;
}

.back-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: auto;
}