.top-nav-student {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3vw;
    padding: 0;
}

.top-nav-student > button {
    height: 70%;
    overflow: hidden;
    width: 8vw;
    padding: 0.5rem 1.5rem;
    margin: 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--primary-color);
    background: none;
    border-radius: 10px 0px 10px 0px;
}

.top-nav-student>button:hover {
    background-color: var(--secondary-color);
}

.top-nav-student button.active {
    background-color: var(--secondary-color);
}