/* import the constants */
@import '../../../../../../styles/constants.css';

.sidebar {
    height: 100vh;
    width: 15vw;
    position: fixed;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#sidebarLogo {
    height: fit-content;
    padding: 2rem;
}

#jaar-selector {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#jaar-selector>select {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 10px 0 10px 0;
    appearance: none;
    background-image: var(--dropdown-arrow);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

#jaar-selector>select option {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

#sidebar-components {
    height: fit-content;
}

@media screen and (min-width: 1600px) {
    #sidebar-components {
        height: 55vh;
    }
}

.main-nav {
    margin-top: 2vh;
}

.main-nav>li {
    margin-bottom: 1.8rem;
    font-size: 1rem;
    margin-left: 1rem;
    color: var(--black);
    cursor: pointer;
}

@media screen and (min-width: 1600px) {

    .main-nav>li {
        margin-bottom: 3rem;
        font-size: 1.3rem;
        margin-left: 1.3rem;
        color: var(--black);
        cursor: pointer;
    }
}


.main-nav>li:hover {
    font-weight: bold;
}

.main-nav>li>a {
    color: var(--black);
    text-decoration: none;
}

.main-nav>li:nth-child(4) {
    margin-bottom: 1rem;
}

.sub-nav>li {
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--black)
}

@media screen and (min-width: 1600px) {
    .sub-nav>li {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        margin-left: 2.6rem;
        color: var(--black);
        cursor: pointer;
    }
}

.sub-nav>li:hover {
    font-weight: bold;
}

.sub-nav>li>a {
    color: var(--black);
    text-decoration: none;
}

.account-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 15vh;
    margin-bottom: 2vh;
}

.account-info:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: ease-out 0.2s;
}

.account-info>img {
    margin: auto;
    margin-bottom: 0.5rem;
    width: 20%;
}

.account-info>p {
    padding: 0.3rem;
    font-size: 0.9rem;
    width: 100%;
}

.user-id {
    font-weight: 300;
    font-size: 0.8rem;
}

@media screen and (max-width: 1600px) {

    .account-info {
        max-height: fit-content;
    }

    .account-info>p {
        display: none;
    }

    .user-id {
        display: none;
    }
}

a {
    text-decoration: none;
    color: var(--black)
}

li {
    list-style-type: none;
}

.logout-btn {
    position: absolute;
    bottom: 0;
    background-color: var(--red);
    color: var(--white);
}

.logout-btn:hover {
    background-color: var(--red-hover);
    color: var(--white);
}